* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alkatra", cursive;
  font-family: "Merriweather", serif;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
p {
  color: #444343;
  line-height: 1.5rem;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.btn {
  border: none;
  color: blue;
  font-weight: bold;
  background-color: white;
  padding: 15px 20px;
  border-radius: 4px;
  transition: 0.5s;
}
.btn:hover {
  background-color: #0198cd;
  color: white;
}
ul li {
  list-style: none;
}

/* header */
header {
  background-image: url("/images/banner/banner3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0 20px;
}
.banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 250px 0;
}
.banner-text {
  width: 35%;
  text-align: right;
}
.banner-text p {
  color: white;
  margin: 20px 0;
}
/* about-me */
main section {
  margin: 70px 0 20px 0;
}
.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.my-pic img {
  width: 470px;
}
.my-failures {
  width: 40%;
}
.my-failures h1{
    color: black;
    font-size: 30px;
    width: 80%;
}
.my-failures ul li {
  list-style: square;
}
.my-failures ul {
  list-style: square;
  margin: 20px;
}
.my-failures p {
  margin: 20px 0;
  width: 90%;
}

/* plans */
.title {
  text-align: center;
}
.plans {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px 100px;
}
.plan {
  text-align: center;
}
/* watch */
.watch-section {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(0, 95, 172, 100%)
    ),
    url("/images/watch.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  color: white;
}
.content {
  width: 70%;
  padding: 50px;
}

/* footer */
footer {
  background-color: #151414;
  color: white;
  padding: 20px;
}
footer p,
h1 {
  color: white;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.future {
  width: 70%;
}
.future h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.future p {
  margin: 20px 0;
  width: 70%;
}
.social-icons img {
  margin-right: 20px;
}

.subscribe input[type="email"] {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 20px 0;
}
.footer-btn {
  background-color: #005fac;
  color: white;
}
.copyrights {
  text-align: center;
  margin-top: 20px;
}

/* mobile- responsive */
@media screen and (max-width: 572px) {
  h1 {
    font-size: 25px;
  }
  .btn {
    padding: 10px 20px;
  }
  /* header */
  .container {
    width: 90%;
  }
  header {
    height: 100%;
  }
  .banner {
    justify-content: center;
    padding: 100px 0;
  }
  .banner-text {
    width: 100%;
    text-align: center;
  }

  /* about-me */
  .about-me {
    flex-direction: column;
  }
  .my-pic img {
    width: 300px;
  }
  .my-failures {
    width: 100%;
  }

  /* plans */
  .plans {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding: 30px 0px;
  }
  .plan img {
    width: 74px;
  }

  /* watch */
  .watch-section {
    height: 100%;
  }
  /* footer */
  .footer-content {
    flex-direction: column;
    gap: 20px;
  }
}

/* tab- responsive */
@media screen and (min-width: 573px) and (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
  /* header */
  .container {
    width: 90%;
  }
  header{
    height: 100%;
  }

  .banner {
    padding: 50px 0;
  }
  .banner-text {
    width: 50%;
    text-align: right;
  }

  /* about-me */
  .my-failures h1{
    width: 90%;
  }
  .my-pic img {
    width: 300px;
    margin-right: 20px;
  }
  .my-failures {
    width: 80%;
  }
  .my-failures p {
    width: 100%;
  }
  /* plans */
  .plans {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 30px 0px;
  }
  /* watch */
  .watch-section {
    height: 100%;
  }
  /* watch */
  .watch-section {
    height: 100%;
  }
}
